<!DOCTYPE html>
<html data-<%= platform_identifier %> class="h-full bg-white">
  <head>
    <title>Sportical</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render 'shared/header' %>
    <main class="sm:container mx-auto mt-4 px-5 pb-6">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
