<%= content_for :title, "Get started" %>

<div class="mx-auto md:w-2/3 w-full pt-4 flex flex-col">
  <div class="p-4 w-full my-4 bg-slgray border-gray-500 text-sblack flex flex-col">
    <h3 class="mb-2 text-lg inline-block font-bold">Start adding events like these to your calendar.</h3>
    <%= link_to "Get Started", 
      new_user_path, 
      data: { turbo_action: "replace" }, 
      class: "max-w-fit rounded-lg py-3 px-5 bg-sdred text-white font-medium mb-2" %>
  </div>

  <div id="event_id">
    <%= link_to event_example_path do %>
      <div class="w-full px-6 py-4 bg-white border border-gray-200 rounded-lg shadow mb-4">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-sdred">
          Novak Djokovic x Rafael Nadal
        </h3>

        <h4 class="mb-2 text-lg font-bold tracking-tight text-gray-800">
          Roland Garros
        </h4>

        <h5 class="mb-4 text-md font-bold tracking-tight text-gray-800">
          05-10-2024 - 02:30
        </h5>

        <p class="mb-3 font-normal text-gray-700">
          <span class="bg-sdred text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
            Tennis
          </span>
          <span class="bg-gray-500 text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
            Start Plus
          </span>
        </p>
      </div>
    <% end %>

    <%= link_to event_example2_path do %>
      <div class="w-full px-6 py-4 bg-white border border-gray-200 rounded-lg shadow mb-4">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-sdred">
          Chelsea x Liverpool
        </h3>

        <h4 class="mb-2 text-lg font-bold tracking-tight text-gray-800">
          Premier League
        </h4>

        <h5 class="mb-4 text-md font-bold tracking-tight text-gray-800">
          17-03-2024 - 10:30
        </h5>

        <p class="mb-3 font-normal text-gray-700">
          <span class="bg-sdred text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
            Soccer
          </span>
          <span class="bg-gray-500 text-white text-sm font-medium me-2 px-2.5 py-1.5 rounded">
            Youtube
          </span>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "https://apps.apple.com/app/sporticalapp/id6479256969", class: "mt-4 w-full turbo-native:hidden", target: "_blank" do  %>
    <%= image_tag 'ios.png', width: "200", class: "mx-auto" %>
  <% end %>
</div>
