<div id="<%= dom_id event %>">
  <% if action_name == "index" %>
    <!-- INDEX -->
    <%= link_to event do %>
      <div class="w-full px-6 py-4 bg-white border border-gray-200 rounded-lg shadow mb-4">
        <%= render 'event_content', event: event %>
      </div>
    <% end %>
  <% else %>
    <!-- SHOW -->
    <div class="mt-4 turbo-native:ml-2">
      <%= render 'event_content', event: event %>

      <% if event.more_info.present? %>
        <p class="my-5 text-lg"><%= event.more_info %></p>
      <% end %>

      <% if event.url.present? %>
        <p class="my-5">
          <%= link_to event.url, class: "rounded-lg pt-3 pb-4 px-4 bg-sdred text-white flex font-medium", target: "_blank" do %>
            <%= inline_svg_tag("icons/watch.svg", style: "max-height: 30px; max-width: 30px; color: white") %>
            <span class="ml-2 pt-[5px]"><%= event.url.truncate(50, separator: ' ')  %></span>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
