<%= form_with(model: event, class: "contents") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li class="ml-2">&#9864; <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :sport %>
    <%= form.select :sport,
      Event.sports.keys.map { |s| [s.titleize, s] },
      { include_blank: false },
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :event_date %>
    <%= form.datetime_field :event_date,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title,
      placeholder: "Team 1 x Team 2, São Paulo circuit",
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :championship %>
    <%= form.text_field :championship,
      placeholder: "World Championship, Premier League...",
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :broadcast_platform %>
    <%= form.select :broadcast_platform,
      Event.broadcast_platforms.keys.map { |b| [b.titleize, b] },
      { include_blank: false },
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url, "URL" %>
    <%= form.text_field :url,
      placeholder: "https://...",
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :more_info, "More info" %>
    <%= form.text_area :more_info,
      cols: 20,
      rows: 8,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline flex justify-between mt-4">
    <%= form.submit data: { controller: "bridge--button", "bridge-title": "Save", "bridge-action": "create" }, 
      class: "flex-1 rounded-lg py-3 px-5 bg-sdred text-white inline-block font-medium cursor-pointer turbo-native:hidden" %>
    <%= link_to "Back to events",
      events_path,
      class: "flex-1 ml-2 rounded-lg py-3 px-5 bg-gray-500 inline-block text-white text-center font-medium turbo-native:hidden" %>
  </div>
<% end %>
